footer{
    background-color: #6ba871;
    color: #fff;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.sponsor-imgs{
    display: flex;
    background-color: #fff;
}


.sponsor-img{
    margin: 10px;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width:600px){

    footer{
        padding: 0;
    }

    .sponsor-imgs{
        display: block;
        background-color: #fff;
        
    }

    .sponsor-img{
        margin: 15px;
        width: 100%;
    }
    
    footer img {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        max-height: 200px;
    } 
}

