footer{
    background-color: #6ba871;
    color: #fff;
    padding: 15px;
    position: sticky;
    left: 0;
    bottom: 0;
    height: 250px;
}

.sponsor-imgs{
    display: flex;
    background-color: #fff;
}


.sponsor-img{
    margin: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

footer img {
    width: 100%;
    height: auto;
}

.footer-legal{
    color: black;
}



@media only screen and (max-width:600px){

    footer{
        padding: 5px;
    }


    .footer-sponsors-text{
        margin-bottom: 15px;
    }

    .sponsor-imgs{
        display: block;
        background-color: #fff;
        margin-top: 10%;
    }

    .sponsor-img{
        margin-top: 10%;
        width: 90%;
    }
    
    footer img {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 80%;
    } 
}

