html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
/* Header style */
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6ba871;
  }

#navigation li {
    float: left;
    margin-bottom: 15px;
  }
  
#navigation  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
#navigation  li a:hover {
    background-color: #6ba523;
  }

/* Body style */

.content{
  min-height: 100vh;
  background: white;
  position: relative;
  z-index: 1;
  width: 100%;
};

.content h2{
  text-align: center;
}


.wrapper-info h2{
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

.info {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    border: lightgreen 2px solid;
    padding: 15px;
}

/* media */

@media only screen and (max-width: 600px){
  .info{
    margin-left: 3%;
    margin-right: 3%;
  }
}
